<div class="container-fluid p-t-15 clear">
    <h3><a href="/static/v4/index.html" target="_blank">后台UI框架</a></h3>
    <hr>
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-currency-cny fs-22"></i></span>
                        <span class="fs-22 lh-22">102,125.00</span>
                    </div>
                    <div class="text-right">今日收入</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card bg-danger text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fs-22"></i></span>
                        <span class="fs-22 lh-22">920,000</span>
                    </div>
                    <div class="text-right">用户总数</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-arrow-down-bold fs-22"></i></span>
                        <span class="fs-22 lh-22">34,005,000</span>
                    </div>
                    <div class="text-right">下载总量</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card bg-purple text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-comment-outline fs-22"></i></span>
                        <span class="fs-22 lh-22">153 条</span>
                    </div>
                    <div class="text-right">新增留言</div>
                </div>
            </div>
        </div>
    </div>
</div>