<!DOCTYPE html>
<html lang="zh">
<head>
    {{template "common/head"}}
</head>
<body>
{{.GMC_LAYOUT_CONTENT}}
{{template "common/foot"}}
<script type="text/javascript" src="/static/js/main.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.search-bar .dropdown-menu a').click(function () {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text());
        });

        // 通用ajax post请求
        jQuery(document).delegate('.ajax-post', 'click', function () {
            var self = jQuery(this), tips = self.data('tips'), ajax_url = self.attr("href") || self.data("url");
            var target_form = self.attr('target-form');
            var text = self.data('tips');
            var form = jQuery('form[name="' + target_form + '"]');

            if (form.length == 0) {
                form = jQuery('.' + target_form);
            }

            var form_data = form.serialize();
            if ('submit' == self.attr('type') || ajax_url) {
                if (void 0 == form.get(0)) return false;

                // 如果节点是FORM表单
                if ('FORM' == form.get(0).nodeName) {
                    ajax_url = ajax_url || form.get(0).action;

                    // 确认提交
                    if (self.hasClass('confirm')) {
                        $.confirm({
                            title: '',
                            content: tips || '确认要执行该操作吗？',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                confirm: {
                                    text: '确认',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var loader = $('body').lyearloading({
                                            opacity: 0.2,
                                            spinnerSize: 'lg'
                                        });
                                        self.attr('autocomplete', 'off').prop('disabled', true);
                                        ajaxPostFun(self, ajax_url, form_data, loader);
                                    }
                                },
                                cancel: {
                                    text: '取消',
                                    action: function () {
                                    }
                                }
                            }
                        });
                        return false;
                    } else {
                        self.attr("autocomplete", "off").prop("disabled", true);
                    }
                } else if ('INPUT' == form.get(0).nodeName || 'SELECT' == form.get(0).nodeName || 'TEXTAREA' == form.get(0).nodeName) {
                    // 复选框判断是否有选择项
                    if (form.get(0).type == 'checkbox' && form_data == '') {
                        showNotify('请选择您要操作的数据', 'danger');
                        return false;
                    }

                    if (self.hasClass('confirm')) {
                        $.confirm({
                            title: '',
                            content: tips || '确认要执行该操作吗？',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                confirm: {
                                    text: '确认',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var loader = $('body').lyearloading({
                                            opacity: 0.2,
                                            spinnerSize: 'lg'
                                        });
                                        self.attr('autocomplete', 'off').prop('disabled', true);

                                        ajaxPostFun(self, ajax_url, form_data, loader);
                                    }
                                },
                                cancel: {
                                    text: '取消',
                                    action: function () {
                                    }
                                }
                            }
                        });
                        return false;
                    } else {
                        self.attr("autocomplete", "off").prop("disabled", true);
                    }
                } else {
                    if (self.hasClass('confirm')) {
                        $.confirm({
                            title: '',
                            content: tips || '确认要执行该操作吗？',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                confirm: {
                                    text: '确认',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var loader = $('body').lyearloading({
                                            opacity: 0.2,
                                            spinnerSize: 'lg'
                                        });
                                        self.attr('autocomplete', 'off').prop('disabled', true);

                                        ajaxPostFun(self, ajax_url, form_data, loader);
                                    }
                                },
                                cancel: {
                                    text: '取消',
                                    action: function () {
                                    }
                                }
                            }
                        });
                        return false;
                    } else {
                        form_data = form.find("input,select,textarea").serialize();
                        self.attr("autocomplete", "off").prop("disabled", true);
                    }
                }

                var loader = $('body').lyearloading({
                    opacity: 0.2,
                    spinnerSize: 'lg'
                });
                ajaxPostFun(self, ajax_url, form_data, loader);

                return false;
            }
        });

        // 通用ajax get请求
        jQuery(document).delegate('.ajax-get', 'click', function () {
            var self = $(this), tips = self.data('tips'), ajax_url = self.attr("href") || self.data("url");

            if (self.hasClass('confirm')) {
                $.confirm({
                    title: '',
                    content: tips || '确认要执行该操作吗？',
                    type: 'orange',
                    typeAnimated: true,
                    buttons: {
                        confirm: {
                            text: '确认',
                            btnClass: 'btn-blue',
                            action: function () {
                                var loader = $('body').lyearloading({
                                    opacity: 0.2,
                                    spinnerSize: 'lg'
                                });
                                self.attr('autocomplete', 'off').prop('disabled', true);

                                ajaxGetFun(self, ajax_url, loader);
                            }
                        },
                        cancel: {
                            text: '取消',
                            action: function () {
                            }
                        }
                    }
                });
                return false;
            } else {
                var loader = $('body').lyearloading({
                    opacity: 0.2,
                    spinnerSize: 'lg'
                });
                self.attr('autocomplete', 'off').prop('disabled', true);

                ajaxGetFun(self, ajax_url, loader);
            }
            return false;
        });

        // POST提交处理
        function ajaxPostFun(selfObj, ajax_url, form_data, loader) {
            console.log('url==>' + ajax_url);
            console.log('form_data==>' + form_data);
            // setTimeout(function () {
            //     loader.destroy();
            //     showNotify('修改成功，页面即将自动跳转~', 'success', 1000);
            //     selfObj.attr("autocomplete", "on").prop("disabled", false);
            // }, 1e3);
            // 这里屏蔽get提交，js模拟返回成功，正常使用时请删除上面的内容，打开下面的注释代码

            jQuery.post(ajax_url, form_data).done(function(res) {
                loader.destroy();
                var res = eval('(' + res + ')');
                var msg = res.msg;
                if (200 == res.code) {
                    if (res.url && !selfObj.hasClass('no-refresh')) {
                        msg += '页面即将自动跳转';
                    }
                    showNotify(msg, 'info');
                    setTimeout(function () {
                        selfObj.attr("autocomplete", "on").prop("disabled", false);
                        return selfObj.hasClass("no-refresh") ? false : (res.url ? location.href = res.url : location.reload());
                    }, 1500);
                } else {
                    showNotify(msg, 'danger');
                    selfObj.attr("autocomplete", "on").prop("disabled", false);
                }
            }).fail(function () {
                loader.destroy();
                showNotify('服务器发生错误，请稍后再试', 'danger');
                selfObj.attr("autocomplete", "on").prop("disabled", false);
            });

        }

        // GET提交处理
        function ajaxGetFun(selfObj, ajax_url, loader) {
            console.log(ajax_url);
            // setTimeout(function () {
            //     loader.destroy();
            //     showNotify('修改成功，页面即将自动跳转~', 'success', 1000);
            //     selfObj.attr("autocomplete", "on").prop("disabled", false);
            // }, 1e3);
            // 这里屏蔽get提交，js模拟返回成功，正常使用时请删除上面的内容，打开下面的注释代码

            jQuery.get(ajax_url).done(function(res) {
                loader.destroy();
                var res = eval('(' + res + ')');
                var msg = res.msg;
                if (200 == res.code) {
                    if (res.url && !selfObj.hasClass('no-refresh')) {
                        msg += '页面即将自动跳转';
                    }
                    showNotify(msg, 'info');
                    setTimeout(function () {
                        selfObj.attr("autocomplete", "on").prop("disabled", false);
                        return selfObj.hasClass("no-refresh") ? false : (res.url ? location.href = res.url : location.reload());
                    }, 1500);
                } else {
                    showNotify(msg, 'danger');
                    selfObj.attr("autocomplete", "on").prop("disabled", false);
                }
            }).fail(function () {
                loader.destroy();
                showNotify('服务器发生错误，请稍后再试', 'danger');
                selfObj.attr("autocomplete", "on").prop("disabled", false);
            });

        }

    });
</script>
</body>
</html>